body{
    border-top: 1px solid blue;
    width: 30%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    background-color: rgb(235, 240, 245);
    padding: 10px 30px;
}

.titulo{
    line-height: 10px;
}

input{
    height: 30px;
    border-radius: 4px;
    border: 0.5px solid rgb(174, 174, 201);
    margin-top: 10px;
}

.inputs{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.nomes{
    display: flex;
    gap: 10px;
}

#FirstNome{
    display: block;
    width: 164px;
}

#birthday{
    margin-top: 10px;
    margin-bottom: 10px;
}

.data{
    display: flex;
    align-items: center;
}

select{
    height: 29px;
    background-color: rgb(230, 223, 223);
    border-radius: 2px;
    border: 0.5px solid rgb(174, 174, 201);
}

#link{
    font-size: 10px;
    margin-left: 10px;
}

.radios{
   display: flex;
   align-items: center;
   gap: 5px;
   margin-top: -20px; 
}

#label{
    margin-top: 10px;
}

#aviso{
    font-size: 10px;
    color: rgb(107, 107, 107);
}

a{
    text-decoration: none;
    color: rgb(74, 74, 216);
}

button{
    margin-top: -20px;
    height: 30px;
    width: 170px;
    border-radius: 5px;
    box-shadow: inset -10px -10px 10px #4a793a;
    border: 0.5px solid rgb(110, 110, 110);
    background-color: #5E984A;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

footer{
    margin-top: 20px;
    border-top: 1px solid rgb(196, 193, 193); 
}

#final{
    font-size: 13px;
    font-weight: 800;
    color:rgb(119, 119, 119)
}
