body{
    margin: 0;
    padding: 0;
}

.labels{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    font-size:15px;
    text-align: right;
}

.inputs{
    height: 200px;
    width: 300px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

input{
    width: 200px;
    height: 20px;
    border-color: rgb(221, 0, 0);
}

#email{
    height: 15px;
    border-radius: 0;
}

input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

select{
    width: 110px;
}

form{
    display: flex;
}

button{
    height: 45px;
    margin-left: 8px;
    border-radius: 4px;
    border-color: rgb(211, 210, 209);
}

.botoes{
    margin-top: -35px;
    margin-left: 120px;
}

#register{
    border: 0.5px solid rgb(183, 186, 187);
    box-shadow: inset 0.2px 1px 4px 2px rgb(46, 168, 216);
}